@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik+Distressed&family=Satisfy&family=Syne+Mono&display=swap');

*{
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: repeat(auto-fit);
    background-color: rgb(237, 231, 231);
    padding-top: 50px;
    border: 1px solid black;
    color: white;
    background-color: black;
    font-family: 'Solway', serif;
    padding: 10px;
    margin: 0;
}
@media(max-width:500px){
    .footer{
        grid-template-columns: 200px 200px;
        grid-row: 150px;
        justify-content: space-between;
    }
    .footer1,.footer2{
        margin-bottom: 20px;
        border-bottom: 1px solid white;

    }
    .footer1 h1{
        font-family: 'Rubik Distressed', cursive;
        align-self: center;
    }
    .footer4 #app{
        height: 40px;
    }
    
    .footer4 #payments{
        height: 40px;
    }
}
.footer a{
    text-decoration: none;
    color: blueviolet;
}
.footer1{
    font-size: smaller;
    justify-self: center;
    text-align: center;
}
.footer1 h1{
    font-family: 'Rubik Distressed', cursive;
}

.footer2{
    font-size: small;
    justify-self: center;
    text-align: center;
}

.footer3{
    font-size: small;
    justify-self: center;
    text-align: center;
}

.footer a:hover{
    background-color: aliceblue;
    padding:3px 1px;
    border-radius: 3px;
}
.footer4{
    font-family: 'Solway', serif;
    justify-self: center;
    text-align: center;
}
.footer4 #app{
    height: 50px;
    width: 170px;
    border-radius: 5px;
    margin-top: 10px;
    object-fit: cover;
}

.footer4 #payments{
    height: 50px;
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px 0;
}
.footer1>p, .footer2>p, .footer3>p, .footer4>p{
    padding-bottom: 15px;
}
.footer1>h1, .footer2>h1, .footer3>h1, .footer4>h1{
    padding-bottom: 15px;
}
.footer1>h4, .footer2>h4, .footer3>h4, .footer4>h4{
    padding-bottom: 15px;
}
